body {
  font-family: "Open Sans", sans-serif;
  text-align: center;/* Alterado para center*/
  margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto 72px;/* adicionado o 0 e auto para centralizar os elementos*/
}

#hero img { /* removido tag img para tirar espaçamento superior e adicionado com o id #hero para margin bottom */

  margin-bottom: 81px;
}


h1 {
  font-family: "Inter", sans-serif;
  font-size: 42px; /* alterado tamanho de fonte para melhor adequação na tela */
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;

  margin-bottom: 32px;
}

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

#line {
    width: 568px;
    height: 0;

    margin: 0 auto 30px; /* adicionado a tag "auto" para centralizar e uma margin bottom maior para espaçamento uniforme*/

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;/* alterado de top para bottom*/
    right: 0;
}
